body {
    background-color: azure;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh;
}

.container {
    background-color: rgb(52, 52, 236, 0.1);
    padding: 1.5em;
    border-radius: 20px;
    margin-left: 2em;
}

.containerTitulo {
    text-align: center;
    text-transform: uppercase;
    color: rgb(52, 52, 236);
}

.containerSubTitulo {
    margin-bottom: 10px;
    color: rgb(74, 74, 240);
}

#calcular {
    display: block;
    margin-top: 20px;
    
}

#calcular {
    background-color: rgb(49, 49, 236);;
}

input {
    width: 10em;
    border-radius: 10px;
    padding: 0.5em;
    border-color: rgb(74, 74, 240);
}

.containerResultado {
    display: none;
}

.resultado{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.background {
    background: linear-gradient(90deg, #2CD9FF, #7EFFB2);
    background-size: 400% 400%;
    animation: anim 2.5s infinite ease-in-out;
}

@keyframes anim {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


@media screen and (max-width: 400px)  {
    main {
        display: block;
        margin: auto;
    }

    .container {
        margin: 10em 1em;
        box-sizing: border-box;
    }

}